.header-search__title {
  width: 608px;
  max-height: 128px;
  margin: 80px auto 32px auto;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  background: transparent;
  padding-right: 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header-search__title {
    width: 210px;
    font-size: 36px;
    line-height: 40px;
    margin: 38px auto 16px 21.22395833%;
    padding:0;
  }
}

@media screen and (max-width: 320px) {
  .header-search__title {
    width: 285px;
    height: 80px;
    font-size: 36px;
    line-height: 40px;
    margin: 30px 16px 16px 16px;
  }
}