.results__card-source {
  width: 89px;
  height: 20px;
  margin: 0 auto 24px 24px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  border-bottom-left-radius: 10px;
}

@media screen and (max-width: 768px) {
  .results__card-source {
    width: 192px;
    margin: 0 16px 16px 16px;
  }
}

@media screen and (max-width: 376px) {
  .results__card-source {
    width: 256px;
    height: 20px;
    margin: 0 16px 17px 16px;
  }
}