@import url('./_active/_active.css');

.popup__button:disabled {
  width: 358px;
  height: 64px;
  min-height: 64px;
  margin: 8px auto 16px auto;
  background: #E6E8EB;
  border-radius: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.popup__button {
  width: 83.25581395%;
  height: 64px;
  min-height: 64px;
  margin: 8px auto 16px auto;
  background: #2F71E5;
  border-radius: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.popup__button:hover {
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .popup__button {
    width: 288px;
    height: 64px;
  }
  .popup__button:disabled {
    width: 288px;
    height: 64px;
  }

}