@import url('./__white/__white.css');
@import url('./__black/__black.css');

.results_cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 320px) {
  .results_cards {
    width: 288px;
  }
}