@media screen and (min-width: 769px){
  .header_logged-in {
      height: 80px;
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
  .header_logged-in {
      flex-wrap: unset
    }
}


@media screen and (max-width: 525px) {
    .header_logged-in {
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 411px) {
    .header_logged-in {
      height: 130px;
    }
}

@media screen and (max-width: 320px) {
    .header_logged-in {
      height: 286px;
    }
}