.popup__close-button {
  position: absolute;
  top: -30px;
  right: -30px;
}

.popup__close-button:hover {
  cursor: pointer;
}

@media screen and (max-width:500px) {
  .popup__close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -40px;
    right: calc(-30px + 500px - 100vw);
  }
}

@media screen and (max-width:454px) {
  .popup__close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -40px;
    right: 16px;
  }
}

@media screen and (max-width:320px) {
  .popup__close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: -40px;
    right: 16px;
  }
}