@import url('./__invisible/__invisible.css');

.popup_exist-user-error {
  justify-content: center;
  width: 200px;
  height: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .popup_exist-user-error {
  margin: 0 auto;}
}