@import url('./_with-bottom-radius/_with-bottom-radius.css');
@import url('./_absolute/_absolute.css');
@import url('./_relative/_relative.css');

.header-white {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #d1d2d6;
  z-index: 12;
}

@media screen and (max-width: 768px){
  .header-white {
      flex-wrap: unset;
    }
}


@media screen and (max-width: 525px) {
    .header-white{
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 411px) {
    .header-white {
      height: 130px;
    }
}

@media screen and (max-width: 320px) {
  .header-white {
    height: 286px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-start;
  }
}




