@import url('./_invisible/_invisible.css');
@import url('./_visible/_visible.css');

.header-home__keys-field {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 712px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 0 10px 56px 104px;
}

@media screen and (max-width: 768px) {
  .header-home__keys-field {
    width: calc(100vw - 40px);
    font-size: 14px;
    margin: 0 auto 32px 40px;
  }
}

@media screen and (max-width: 320px) {
  .header-home__keys-field {
    width: 288px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    margin: 0 17px 32px 15px;
  }
}