.results__card-title {
  width: 352px;
  margin: auto;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 0 16px 24px;
}

@media screen and (max-width: 768px) {
  .results__card-title {
    display: flex;
    width: 192px;
    height: 72px;
    margin: 0 16px 10px 16px;
    font-size: 22px;
    line-height: 24px;
  }
}

@media screen and (max-width: 376px) {
  .results__card-title {
    width: 256px;
    height: 56px;
    margin: 0 16px 10px 16px;
    font-size: 22px;
    line-height: 26px;
  }
}