@import url('./__invisible/__invisible.css');
@import url('./__blue-flag/__blue-flag.css');
@import url('./__white-flag/__white-flag.css');

.results_card-bookmark {
  z-index: 2;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 10px 14px 10px 11px;
  margin: 0;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .results_card-bookmark {
    top: 8px;
    right: 8px;
  }
}