.header__saved-link_active-black {
    color: #1a1b22;
    border-bottom: 3px solid #1a1b22;
    box-sizing: border-box;
    cursor: default;
}

@media screen and (min-width: 768px){
  .header__saved-link_active-black {
    padding-bottom: 28px;
  }
}

@media screen and (max-width: 768px){
  .header__saved-link_active-black {
    padding-bottom: 22px;
  }
}

@media screen and (max-width: 578px){
  .header__saved-link_active-black {
    padding-bottom: 22px;
  }
}

@media screen and (max-width:411px){
  .header__saved-link_active-black {
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 320px){
  .header__saved-link_active-black {
    color: #1a1b22;
    padding-bottom: 0;
    border-bottom: 0;
  }
}