.about_text {
  width: 73.529%;
  max-width: 600px;
  margin: 131px auto 0 0;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .about_text {
    width: 55.208333333%;
    flex-wrap: wrap;
    margin: 40px auto 0 0;
  }
}

@media screen and (max-width: 320px) {
  .about_text {
    width: 288px;
    margin: 0 16px 80px 16px;
  }
}