.results__invisible {
  display: none;
}

@media screen and (max-width: 768px) {
  .results__invisible {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .results__invisible {
    display: none;
  }
}