@media screen and (min-width: 768px){
  .header_logged-out {
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px){
  .header_logged-out {
      flex-wrap: unset;
    }
}

@media screen and (max-width: 407px) {
    .header_logged-out {
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px) {
    .header_logged-out {
      height: 214px;
    }
}