.about_description {
  flex-direction: column;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin: 12px 0;
}

@media screen and (max-width: 768px) {
  .about_description {
    width: 100%;
    margin: 12px 0;
  }
}

@media screen and (max-width: 320px) {
  .about_description {
    width: 288px;
  }
}
