@media screen and (max-width: 1440px) {
  .results_cards__white {
    margin: 54px 104px;
  }
}

@media screen and (max-width: 768px) {
  .results_cards__white {
    margin: 32px 40px;
  }
}

@media screen and (max-width: 320px) {
  .results_cards__white {
    margin: 24px 16px;
    width: 320px;
  }
}