@media screen and (max-width: 1440px){
  .results_cards__black {
    margin: 0 104px;
  }
}

@media screen and (max-width: 768px) {
  .results_cards__black {
    margin: 0 40px;
  }
}

@media screen and (max-width: 320px) {
  .results_cards__black {
    margin: 0 16px 15px 16px;
  }
  .results .results_cards__white{
    margin: 24px 16px;
  }
}