.footer__github {
  width: 20.21px;
  max-width: 20.21px;
  height: 19.71px;
  margin: 29.89px 27.89px 30.39px 0;
}

@media screen and (max-width: 768px) {
  .footer__github {
    margin: 21.89px 26.89px 22.39px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__github {
    order:1;
    margin: 21.89px 27.89px 0 0;
  }
}