.popup_input {
  width: 100%;
  margin: 0 auto 4px 36px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.2;
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .popup_input {
    margin: 0 auto 4px 36px;
    width: 75%;
    height: 62px;
  }
}

@media screen and (max-width: 320px) {
  .popup_input {
  width: 288px;
  }
}