.results_card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  margin: 0 0 16px 0;
}


@media screen and (max-width: 768px) {
  .results_card {
    width: 224px;
    margin: 0 0 8px 0;
  }
}

@media screen and (max-width: 320px) {
  .results_card {
    width: 288px;
    height: 446px;
  }
}