.header__exit-link_black {
    color: #1a1b22;
    background: url('../images/black_exit_image.png') no-repeat 70px 14px;
    border: 1px solid #1a1b22;
  }

@media screen and (max-width: 768px) {
  .header__exit-link_black {
    background: url('../images/black_exit_image.png') no-repeat 67px 14px;
  }
}

@media screen and (max-width: 411px) {
  .header__exit-link_black {
    position: absolute;
    top: 0;
    right: 20px;
    background: url('../images/black_exit_image.png') no-repeat 67px 14px;
  }
}

@media screen and (max-width: 320px) {
  .header__exit-link_black {
    background: url('../images/black_exit_image.png') no-repeat 160px 18px;
  }
}