@import url('./_invisible/_invisible.css');

.popup__success-registration {
  z-index: 1;
  flex-direction: column;
  position: fixed;
  background: #fff;
  width: 430px;
  height: 182px;
  left: calc((100vw - 430px) / 2);
  top: 207px;
  border-radius: 16px;
  z-index: 15;
}

@media screen and (max-width: 768px) {
  .popup__success-registration {
    width: 55.989vw;
    left: calc((100vw - 430px) / 2);
  }
}

@media screen and (max-width: 320px) {
  .popup__success-registration {
    width: 320px;
    top: 56px;
    left: 0;
  }
}