@import url('./_white/_white.css');
@import url('./_black/_black.css');

.results__cards {
  float: left;
  background: #f5f6f7;
}

@media screen and (max-width: 376px) {
  .results__cards {
    width: 288px;
    padding: 0;
  }
}