@import url('./__active/__active.css');
@import url('./__passive/__passive.css');
@import url('./__visible/__visible.css');
@import url('./__invisible/__invisible.css');

.header_saved-link {
  width: 178px;
  height: 24px;
  margin: 30px 32px 26px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  justify-content: center;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header_saved-link {
    margin: 22px 16px 0 0;
    height: 41px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .header_saved-link {
    height: 18px;
    margin: 0 16px 22px 16px;
    text-decoration: none;
    color: #FFFFFF;
  }
}