@import url('./__black-stripes/__black-stripes.css');
@import url('./__white-stripes/__white-stripes.css');
@import url('./__black-cross/__black-cross.css');
@import url('./__white-cross/__white-cross.css');
@import url('./__invisible/__invisible.css');

@media screen and (max-width: 320px) {
  .header_mobile-menu {
    z-index: 5;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    border: 0;
  }
}
