@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/loading/loading.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header-black/header-black.css');
@import url('../blocks/header-white/header-white.css');
@import url('../blocks/header-search/header-search.css');
@import url('../blocks/header-black-logged-in/header-black-logged-in.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/main/main.css');
@import url('../blocks/about/about.css');
@import url('../blocks/header-home/header-home.css');
@import url('../blocks/not-found/not-found.css');
@import url('../blocks/results/results.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/grey/grey.css');


body {
  background-color: #1A1B22;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button,
button:active,
button:focus {
  outline: none;
}

input,
input:active,
input:focus
 {
  opacity: 1;
  color: #000;
  outline: none;
}

