@import url('./__title/__title.css');
@import url('./__main-link/__main-link.css');
@import url('./__saved-link/__saved-link.css');
@import url('./_invisible/_invisible.css');
@import url('./_white/_white.css');
@import url('./_black/_black.css');
@import url('./__mobile-menu/__mobile-menu.css');
@import url('./__menu/__menu.css');
@import url('./__exit-link/__exit-link.css');
@import url('./__author-link/__author-link.css');
@import url('./__menu-subtitle/__menu-subtitle.css');
@import url('./_mobile-full/_mobile-full.css');
@import url('./_mobile-full-white/_mobile-full-white.css');
@import url('./_mobile-short/_mobile-short.css');
@import url('./__line/__line.css');
@import url('./_logged-in/_logged-in.css');
@import url('./_logged-out/_logged-out.css');

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url('../images/background.jpg') no-repeat #fff;

}

@media screen and (max-width: 320px) {
  .header {
      flex-wrap: wrap;
  }
}