.footer__facebook_invisible {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer__facebook_invisible {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .footer__facebook_invisible {
    display: none;
  }
}