.results__card {
  float: left;
  position: relative;
  width: 400px;
  border-radius: 10px;
  margin: 0 16px 16px 0;
  background: #fff;
}

.results__card:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .results__card {
    float: left;
    width: 224px;
      margin: 0 8px 8px 0;
  }
}

@media screen and (max-width: 376px) {
  .results__card {
    width: 288px;
    height: 446px;
    margin: 0 auto 8px auto;
  }
}